<!DOCTYPE html>
<html>
    <head><title>Plex Requests - Search Results</title></head>
	 <body>
	        <h1>Search Results</h1>

			<form id='request' method='post' action='/requests'>
				<ul>
					{% for show in r %}
						<li>
							<a href="{{ show.url }}">{{ show.name }}: </a>
							<input type='hidden' name='id' value='{{ show.id }}'>
							<a href="javascript: request()">Request Show</a>
						</li>
					{% end %}
				</ul>
			</form>

		<script type="text/javascript">
			function request(){
				document.forms['request'].submit();
			}
		</script>
	</body>
</html>
